---
import Header from '../components/Header.astro';
---

<html lang="sr">
  <head>
    <meta charset="UTF-8" />
    <title>Tech Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; font-family: 'Segoe UI', sans-serif; background-color: #fff;">
    <Header />
    <main style="padding: 2rem;">
      <slot />
    </main>
  </body>
</html>
